In [1]:
import pandas as pd

trips_2019_Q1 = pd.read_csv('Trips_2019_Q1.csv')
trips_2019_Q2 = pd.read_csv('Trips_2019_Q2.csv')
trips_2019_Q3 = pd.read_csv('Trips_2019_Q3.csv')
trips_2019_Q4 = pd.read_csv('Trips_2019_Q4.csv')

In the case of this year compared to the previous ones, the format changed for Q1, so following I will edit the column names, date formats and data type of trip duration

In [2]:
trips_2019_Q2.head(5)

,01 - Rental Details Rental ID,01 - Rental Details Local Start Time,01 - Rental Details Local End Time,01 - Rental Details Bike ID,01 - Rental Details Duration In Seconds Uncapped,03 - Rental Start Station ID,03 - Rental Start Station Name,02 - Rental End Station ID,02 - Rental End Station Name,User Type,Member Gender,05 - Member Details Member Birthday Year
0,22178529,2019-04-01 00:02:22,2019-04-01 00:09:48,6251,446.0,81,Daley Center Plaza,56,Desplaines St & Kinzie St,Subscriber,Male,1975.0
1,22178530,2019-04-01 00:03:02,2019-04-01 00:20:30,6226,"1,048.0",317,Wood St & Taylor St,59,Wabash Ave & Roosevelt Rd,Subscriber,Female,1984.0
2,22178531,2019-04-01 00:11:07,2019-04-01 00:15:19,5649,252.0,283,LaSalle St & Jackson Blvd,174,Canal St & Madison St,Subscriber,Male,1990.0
3,22178532,2019-04-01 00:13:01,2019-04-01 00:18:58,4151,357.0,26,McClurg Ct & Illinois St,133,Kingsbury St & Kinzie St,Subscriber,Male,1993.0
4,22178533,2019-04-01 00:19:26,2019-04-01 00:36:13,3270,"1,007.0",202,Halsted St & 18th St,129,Blue Island Ave & 18th St,Subscriber,Male,1992.0

In [3]:
wrong_names = list(trips_2019_Q2.columns)
print(wrong_names)

['01 - Rental Details Rental ID', '01 - Rental Details Local Start Time', '01 - Rental Details Local End Time', '01 - Rental Details Bike ID', '01 - Rental Details Duration In Seconds Uncapped', '03 - Rental Start Station ID', '03 - Rental Start Station Name', '02 - Rental End Station ID', '02 - Rental End Station Name', 'User Type', 'Member Gender', '05 - Member Details Member Birthday Year']

In [4]:
#I get the names I want to assign to the Q1 table.
correct_names = list(trips_2019_Q1.columns)

In [5]:
#Here I replace the column names with the names I want using a dictionary for it
name_replace = dict(zip(wrong_names, correct_names))

In [6]:
trips_2019_Q2.rename(columns=name_replace, inplace=True)

In [7]:
trips_2019_Q2.head(5)

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,22178529,2019-04-01 00:02:22,2019-04-01 00:09:48,6251,446.0,81,Daley Center Plaza,56,Desplaines St & Kinzie St,Subscriber,Male,1975.0
1,22178530,2019-04-01 00:03:02,2019-04-01 00:20:30,6226,"1,048.0",317,Wood St & Taylor St,59,Wabash Ave & Roosevelt Rd,Subscriber,Female,1984.0
2,22178531,2019-04-01 00:11:07,2019-04-01 00:15:19,5649,252.0,283,LaSalle St & Jackson Blvd,174,Canal St & Madison St,Subscriber,Male,1990.0
3,22178532,2019-04-01 00:13:01,2019-04-01 00:18:58,4151,357.0,26,McClurg Ct & Illinois St,133,Kingsbury St & Kinzie St,Subscriber,Male,1993.0
4,22178533,2019-04-01 00:19:26,2019-04-01 00:36:13,3270,"1,007.0",202,Halsted St & 18th St,129,Blue Island Ave & 18th St,Subscriber,Male,1992.0

Now I will check if the format of all the tables matches

In [8]:
trips_2019_Q1.head(5)

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,21742443,2019-01-01 00:04:37,2019-01-01 00:11:07,2167,390.0,199,Wabash Ave & Grand Ave,84,Milwaukee Ave & Grand Ave,Subscriber,Male,1989.0
1,21742444,2019-01-01 00:08:13,2019-01-01 00:15:34,4386,441.0,44,State St & Randolph St,624,Dearborn St & Van Buren St (*),Subscriber,Female,1990.0
2,21742445,2019-01-01 00:13:23,2019-01-01 00:27:12,1524,829.0,15,Racine Ave & 18th St,644,Western Ave & Fillmore St (*),Subscriber,Female,1994.0
3,21742446,2019-01-01 00:13:45,2019-01-01 00:43:28,252,"1,783.0",123,California Ave & Milwaukee Ave,176,Clark St & Elm St,Subscriber,Male,1993.0
4,21742447,2019-01-01 00:14:52,2019-01-01 00:20:56,1170,364.0,173,Mies van der Rohe Way & Chicago Ave,35,Streeter Dr & Grand Ave,Subscriber,Male,1994.0

It does, but some data does not match with previous years, so I will change the format after concatenating the data here.

In [9]:
trips_2019 = pd.concat([trips_2019_Q1, trips_2019_Q2, trips_2019_Q3, trips_2019_Q4])

In [10]:
trips_2019.head(5)

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,21742443,2019-01-01 00:04:37,2019-01-01 00:11:07,2167,390.0,199,Wabash Ave & Grand Ave,84,Milwaukee Ave & Grand Ave,Subscriber,Male,1989.0
1,21742444,2019-01-01 00:08:13,2019-01-01 00:15:34,4386,441.0,44,State St & Randolph St,624,Dearborn St & Van Buren St (*),Subscriber,Female,1990.0
2,21742445,2019-01-01 00:13:23,2019-01-01 00:27:12,1524,829.0,15,Racine Ave & 18th St,644,Western Ave & Fillmore St (*),Subscriber,Female,1994.0
3,21742446,2019-01-01 00:13:45,2019-01-01 00:43:28,252,"1,783.0",123,California Ave & Milwaukee Ave,176,Clark St & Elm St,Subscriber,Male,1993.0
4,21742447,2019-01-01 00:14:52,2019-01-01 00:20:56,1170,364.0,173,Mies van der Rohe Way & Chicago Ave,35,Streeter Dr & Grand Ave,Subscriber,Male,1994.0

In [11]:
trips_2019['birthyear'] = trips_2019['birthyear'].fillna(-1).astype(int)

In [12]:
trips_2019.sample(20)

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
827013,24374407,2019-08-14 13:51:21,2019-08-14 14:21:05,794,"1,783.0",36,Franklin St & Jackson Blvd,283,LaSalle St & Jackson Blvd,Subscriber,Male,1967
237850,22029606,2019-03-11 17:33:46,2019-03-11 17:38:09,5335,263.0,48,Larrabee St & Kingsbury St,365,Halsted St & North Branch St,Subscriber,Male,1992
464828,23992792,2019-07-27 09:55:15,2019-07-27 10:02:41,5124,445.0,129,Blue Island Ave & 18th St,320,Loomis St & Lexington St,Subscriber,Female,1991
761307,24305332,2019-08-10 16:10:12,2019-08-10 16:19:56,3297,584.0,56,Desplaines St & Kinzie St,46,Wells St & Walton St,Subscriber,Male,1992
853767,24402414,2019-08-15 18:35:57,2019-08-15 18:45:02,6324,545.0,24,Fairbanks Ct & Grand Ave,176,Clark St & Elm St,Subscriber,Male,1991
595943,24131293,2019-08-02 18:53:09,2019-08-02 18:59:39,4775,389.0,142,McClurg Ct & Erie St,85,Michigan Ave & Oak St,Subscriber,Male,1965
149142,22353446,2019-04-18 06:56:31,2019-04-18 07:00:20,3292,229.0,110,Dearborn St & Erie St,173,Mies van der Rohe Way & Chicago Ave,Subscriber,Female,1987
918077,24470213,2019-08-19 16:51:01,2019-08-19 17:03:13,2258,732.0,20,Sheffield Ave & Kingsbury St,29,Noble St & Milwaukee Ave,Subscriber,Female,1980
1001874,24558200,2019-08-23 21:00:33,2019-08-23 21:15:03,4765,870.0,145,Mies van der Rohe Way & Chestnut St,133,Kingsbury St & Kinzie St,Subscriber,Male,1994
1632798,25215366,2019-09-30 16:40:55,2019-09-30 17:05:40,1998,"1,485.0",75,Canal St & Jackson Blvd,158,Milwaukee Ave & Wabansia Ave,Subscriber,Male,1985
220386,23735345,2019-07-13 14:40:47,2019-07-13 14:48:44,2408,476.0,332,Burling St (Halsted) & Diversey Pkwy (Temp),87,Racine Ave & Fullerton Ave,Customer,Male,1994
172051,22380862,2019-04-21 11:38:44,2019-04-21 12:18:43,4309,"2,399.0",177,Theater on the Lake,465,Marine Dr & Ainslie St,Subscriber,Male,1983
922615,24474971,2019-08-19 18:34:55,2019-08-19 18:39:56,4434,301.0,272,Indiana Ave & 31st St,335,Calumet Ave & 35th St,Subscriber,Female,1985
1284268,24853427,2019-09-09 08:16:30,2019-09-09 08:32:02,280,931.0,462,Winchester (Ravenswood) Ave & Balmoral Ave,293,Broadway & Wilson Ave,Customer,Female,1986
751283,23061556,2019-06-08 13:31:39,2019-06-08 14:22:34,1824,"3,055.0",459,Lakefront Trail & Bryn Mawr Ave,249,Montrose Harbor,Customer,Male,1983
1004720,23357722,2019-06-25 15:25:00,2019-06-25 15:32:08,1686,428.0,341,Adler Planetarium,3,Shedd Aquarium,Customer,Female,1976
964522,24518974,2019-08-22 08:08:18,2019-08-22 08:11:24,478,185.0,477,Manor Ave & Leland Ave,478,Rockwell St & Eastwood Ave,Subscriber,Female,1982
730278,23037446,2019-06-07 11:24:36,2019-06-07 11:30:29,1916,353.0,18,Wacker Dr & Washington St,197,Michigan Ave & Madison St,Subscriber,Male,1957
1052258,24611175,2019-08-26 21:24:17,2019-08-26 21:48:48,4207,"1,471.0",22,May St & Taylor St,22,May St & Taylor St,Customer,NaN,-1
582862,25835601,2019-12-06 06:39:35,2019-12-06 06:54:35,1848,900.0,120,Wentworth Ave & Cermak Rd (Temp),77,Clinton St & Madison St,Subscriber,Male,1979

In [13]:
trips_2019['tripduration'] = trips_2019['tripduration'].str.replace(',','').astype(float).astype(int)

In [14]:
trips_2019.sample(5)

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
323160,22130097,2019-03-25 17:19:32,2019-03-25 17:24:03,3523,271,112,Green St & Randolph St,638,Clinton St & Jackson Blvd (*),Subscriber,Male,1963
1090146,24650585,2019-08-28 20:05:47,2019-08-28 20:17:58,1049,731,44,State St & Randolph St,172,Rush St & Cedar St,Subscriber,Male,1995
656038,25912533,2019-12-19 17:38:44,2019-12-19 17:41:42,3852,177,69,Damen Ave & Pierce Ave,130,Damen Ave & Division St,Subscriber,Male,1994
612806,24149211,2019-08-03 15:23:16,2019-08-03 16:01:13,440,2276,3,Shedd Aquarium,35,Streeter Dr & Grand Ave,Customer,Female,1981
237005,25470379,2019-10-18 13:19:50,2019-10-18 13:42:26,2590,1356,596,Benson Ave & Church St,354,Sheridan Rd & Greenleaf Ave,Subscriber,Female,1967

Now I have to change date times to match previous tables

In [15]:
#I will change the date format to match what we had in previous years
trips_2019['start_time'] = pd.to_datetime(trips_2019['start_time']).dt.strftime('%m/%d/%Y %H:%M:%S')
trips_2019['end_time'] = pd.to_datetime(trips_2019['end_time']).dt.strftime('%m/%d/%Y %H:%M:%S')

In [16]:
trips_2019.sample(10)

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
619127,24155975,08/03/2019 19:08:21,08/03/2019 19:43:46,5762,2125,35,Streeter Dr & Grand Ave,62,McCormick Place,Customer,Male,1998
303830,23823536,07/18/2019 07:02:48,07/18/2019 07:44:44,1203,2515,117,Wilton Ave & Belmont Ave,284,Michigan Ave & Jackson Blvd,Subscriber,Female,1995
621611,22911030,05/31/2019 14:23:24,05/31/2019 14:29:32,2836,368,69,Damen Ave & Pierce Ave,310,Damen Ave & Charleston St,Subscriber,Male,1991
615738,25870278,12/12/2019 07:35:42,12/12/2019 07:46:46,831,664,46,Wells St & Walton St,287,Franklin St & Monroe St,Subscriber,Male,1995
646056,25902135,12/17/2019 18:06:06,12/17/2019 18:17:21,2956,674,195,Columbus Dr & Randolph St,91,Clinton St & Washington Blvd,Subscriber,Male,1962
298706,25534818,10/23/2019 15:12:36,10/23/2019 15:25:07,3795,750,98,LaSalle St & Washington St,301,Clark St & Schiller St,Subscriber,Male,1984
850535,24399027,08/15/2019 17:16:23,08/15/2019 17:45:36,4768,1753,656,Damen Ave & Walnut (Lake) St (*),52,Michigan Ave & Lake St,Subscriber,Female,1989
546816,25797192,11/29/2019 17:44:42,11/29/2019 18:24:58,6077,2415,161,Rush St & Superior St,87,Racine Ave & Fullerton Ave,Customer,NaN,-1
1153293,24716801,09/01/2019 13:23:04,09/01/2019 13:37:54,2652,889,52,Michigan Ave & Lake St,59,Wabash Ave & Roosevelt Rd,Customer,Male,1962
688639,25946765,12/27/2019 08:45:35,12/27/2019 08:49:32,3809,236,463,Clark St & Berwyn Ave,294,Broadway & Berwyn Ave,Subscriber,Male,1980

Now I will save the new table as csv, this will be openned and processed using SQL 
in MySQL.

In [17]:
trips_2019.to_csv('trips_2019.csv', index=False)

The code used for this year will be used for all the years unless I find problems with the data.